# Resources required by the sample browser and most samples.
[Essential]
Zip=Media/packs/SdkTrays.zip
Zip=Media/packs/cubemapsJS.zip

# Resource locations to be added to the default path
[General]
FileSystem=Media
FileSystem=Media/materials/scripts
FileSystem=Media/materials/textures
FileSystem=Media/models
FileSystem=Media/particle
FileSystem=Media/materials/programs
FileSystem=Media/models/len1
FileSystem=Media/models/len2
FileSystem=Media/models/len3
FileSystem=Media/models/len4

[Imagesets]
FileSystem=GUI/imagesets
[Fonts]
FileSystem=GUI/fonts
[Schemes]
FileSystem=GUI/schemes
[LookNFeel]
FileSystem=GUI/looknfeel
[Layouts]
FileSystem=GUI/layouts
[Lua_scripts]
FileSystem=GUI/lua_scripts